.movie-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.movie-item:hover {
  background: rgb(48, 48, 48);
  transform: scale(1.02);
}

.movie-item .image img {
  display: flex;
  max-height: 300px;
  border-radius: 8px;
}

.movie-item .description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0px 10px 10px;
}

.movie-item .description h2 {
  font-size: 14px;
  font-weight: 600;
}

.movie-item .description h3 {
  font-size: 10px;
  color: rgb(193, 193, 193);
  font-weight: 300;
}
